<!-- Header -->
    <header class="masthead" style="background-image:url(<%= asset_path "b5.jpg" %>)" >
      <div class="container">
        <div class="intro-text">
          <div class="intro-lead-in">Welcome To Let's chara-design!</div>
          <div class="intro-heading text-uppercase">Let's キャラデザ!</div>
          <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#about">なにそれ？</a>
        </div>
      </div>
    </header>
    
     <!-- About -->
    <section id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">Let's キャラデザとは</h2>
            <h3 class="section-subheading text-muted">好きな曲を投稿して、その曲に基づいたキャラクターを自由に描くサイトです。</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <ul class="timeline">
              <li>
                  
                  
                <div class="timeline-image">
                    <span class="fa-stack fa-4x">
                     
                      <i class="fa fa-music fa-stack-2x fa-inverse aaa"></i>
                    </span>
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    
                    <h4 class="subheading">１、好きな曲を投稿しましょう！</h4>
                  </div>
                  <div class="timeline-body">
                    <p class="text-muted">あなたの好きな曲を投稿しましょう。</br>その曲をみて独自の感性でキャラデザしてくれる人がいるかもしれません。</p>
                  </div>
                </div>
              </li>
              
              
              
              <li class="timeline-inverted">
                <div class="timeline-image">
                    <span class="fa-stack fa-4x">
                      
                      
                      <i class="fa fa-pencil fa-stack-2x fa-inverse aaa"></i>
                    </span>
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    
                    <h4 class="subheading">２、絵を書きましょう！</h4>
                  </div>
                  <div class="timeline-body">
                    <p class="text-muted">いい曲と時間があればどんどん絵を投稿してください。</br>投稿された曲と、あなたの感性にしたがって思うがままに描いてください。</p>
                  </div>
                </div>
              </li>
              <li>
                  
                  
                  
                <div class="timeline-image">
                    <span class="fa-stack fa-4x">
                      
                      <i class="fa fa-heart-o fa-stack-2x fa-inverse aaa"></i>
                    </span>
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    
                    <h4 class="subheading">３、「この曲みたい」を押しましょう！</h4>
                  </div>
                  <div class="timeline-body">
                    <p class="text-muted">「この曲みたい」があればあるほどキャラデザしてくれる絵師さんは燃えます。いい曲があれば押しましょう。</br>また、自分のページから「この曲みたい」リストを見ることができます。</p>
                  </div>
                </div>
              </li>
              
              
              
              <li class="timeline-inverted">
                <div class="timeline-image">
                    <span class="fa-stack fa-4x">
                      
                      <i class="fa fa-thumbs-o-up fa-stack-2x fa-inverse aaa"></i>
                    </span>
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    
                    <h4 class="subheading">４、「この絵スゴイ」を押しましょう！</h4>
                  </div>
                  <div class="timeline-body">
                    <p class="text-muted">スゴイと思った絵は評価しましょう！。</br>「この絵スゴイ」リストもマイページから見ることができます。</p>
                  </div>
                </div>
              </li>
              <li class="timeline-inverted">
                <div class="timeline-image">
                  <h4>さあ、今すぐ！
                    <br>Let's
                    <br>キャラデザ!</h4>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>


    

    <!-- Portfolio Grid -->
    <section class="bg-light" id="portfolio">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">ポートフォリオ</h2>
            <h3 class="section-subheading text-muted">This is Portfolio</h3>
          </div>
        </div>
        <div class="row">
          
          
          <div class="col-md-6 col-sm-6 portfolio-item">
            <a class="portfolio-link"  href="/songs">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-plus fa-3x"><h2>曲を投稿する</h2></i>
                </div>
              </div>
              <img class="img-fluid" src="/assets/1.png" alt="">
            </a>
            <div class="portfolio-caption">
              <h4><%= link_to 'もっと見る', songs_path %></h4>
              <p class="text-muted">see more!</p>
            </div>
          </div>
          
          
          <div class="col-md-6 col-sm-6 portfolio-item">
            <a class="portfolio-link"  href="/songs">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-plus fa-3x"><h2>曲を投稿する</h2></i>
                </div>
              </div>
              <img class="img-fluid" src="/assets/2.png" alt="">
            </a>
            <div class="portfolio-caption">
              <h4><%= link_to 'もっと見る', songs_path %></h4>
              <p class="text-muted">see more!</p>
            </div>
          </div>
          
          
          <div class="col-md-6 col-sm-6 portfolio-item">
            <a class="portfolio-link"  href="/songs">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-plus fa-3x"><h2>曲を投稿する</h2></i>
                </div>
              </div>
              <img class="img-fluid" src="/assets/4.png" alt="">
            </a>
            <div class="portfolio-caption">
              <h4><%= link_to 'もっと見る', songs_path %></h4>
              <p class="text-muted">see more!</p>
            </div>
          </div>
          
          
          <div class="col-md-6 col-sm-6 portfolio-item">
            <a class="portfolio-link"  href="/songs">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-plus fa-3x"><h2>曲を投稿する</h2></i>
                </div>
              </div>
              <img class="img-fluid" src="/assets/5.png" alt="">
            </a>
            <div class="portfolio-caption">
              <h4><%= link_to 'もっと見る', songs_path %></h4>
              <p class="text-muted">see more!</p>
            </div>
          </div>
          
          </div>
        </div>
      </div>
    </section>

   
    <!-- Team -->
    <section class="bg-light" id="team">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">ツイッターで絵師さんと繋がれる！！</h2>
            <h3 class="section-subheading text-muted">You can connect with 絵師！</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4">
            <div class="team-member">
              <img class="mx-auto rounded-circle" src="assets/t3.png" alt="">
              <h4>torino</h4>
              <p class="text-muted">Lead Designer</p>
              <ul class="list-inline social-buttons">
                <li class="list-inline-item">
                  <a href="http://twitter.com/lets_charadesi">
                    <i class="fa fa-twitter"></i>
                  </a>
                </li>
                
              </ul>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="team-member">
              <img class="mx-auto rounded-circle" src="assets/t1.png" alt="">
              <h4>aokiume</h4>
              <p class="text-muted">Lead Marketer</p>
              <ul class="list-inline social-buttons">
                <li class="list-inline-item">
                  <a href="http://twitter.com/lets_charadesi">
                    <i class="fa fa-twitter"></i>
                  </a>
                </li>
              
              </ul>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="team-member">
              <img class="mx-auto rounded-circle" src="assets/t2.png" alt="">
              <h4>Syroh</h4>
              <p class="text-muted">Lead Developer</p>
              <ul class="list-inline social-buttons">
                <li class="list-inline-item">
                  <a href="http://twitter.com/lets_charadesi">
                    <i class="fa fa-twitter"></i>
                  </a>
                </li>
                
              </ul>
            </div>
          </div>
        </div>
        
      </div>
    </section>

    <!-- Clients -->
    <section class="py-5">
      <div class="container">
        <div class="row">
          <div class="col-md-3 col-sm-6">
            <a href="#">
              <img class="img-fluid d-block mx-auto" src="img/logos/envato.jpg" alt="">
            </a>
          </div>
          <div class="col-md-3 col-sm-6">
            <a href="#">
              <img class="img-fluid d-block mx-auto" src="img/logos/designmodo.jpg" alt="">
            </a>
          </div>
          <div class="col-md-3 col-sm-6">
            <a href="#">
              <img class="img-fluid d-block mx-auto" src="img/logos/themeforest.jpg" alt="">
            </a>
          </div>
          <div class="col-md-3 col-sm-6">
            <a href="#">
              <img class="img-fluid d-block mx-auto" src="img/logos/creative-market.jpg" alt="">
            </a>
          </div>
        </div>
      </div>
    </section>


   