 <!-- About -->
    <section id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading"><%= @song.title %></h2>
             <h3 class="section-subheading text-muted aaa">
                 by <%= @song.singer %>
                 
                 <% if @song.url.present? %>
                 (<a href="<%= @song.url %>">歌詞や歌をみる</a>)</br>
                 <% end %>
                 
                 </br><%= @song.body %></br>
              |<%= link_to @song.user.name, "/users/#{@song.user_id}" %>の投稿|
              <%= link_to like_song_path(@song), method: :put, class: "btn btn-default btn-sm" do %>
                    <span class="glyphicon glyphicon-chevron-up"></span>
                    この曲見たい:<%= @song.get_upvotes.size %>
              <% end %>|
              <% if @song.user == current_user %>
              <%= link_to '編集', edit_song_path(@song) %> |
              <%= link_to '削除', @song, method: :delete, data: { confirm: '削除しますか?' }, class: "btn btn-default" %> |
              <% end %>
              <%= link_to '曲一覧', songs_path %>
             </h3>
             <h3 class="comments_title">
                この曲への投稿数：<%= @song.comments.count %>
             </h3>
          </div>
        </div>
        
        <div id="comments">
            <%= render :partial => @song.comments %>
          </div>
          <%= simple_form_for [@song, Comment.new]  do |f| %>
            <div class="field">
             <p><%= f.file_field :image %></p>
             <p><%= f.text_area :body, class: "form-control" %></p>
            </div>
            <br>
            <%= f.submit "投稿する", class: "btn btn-primary" %>
          <% end %>

        
        
       



  